/* ===================================
=typography
=================================== */

:root {
  --fontstack-main: "DMSans", "Helvetica Neue", "Helvetica", system-ui,
  sans-serif;
  --fontstack-alt: "DMSans", "Helvetica Neue", "Helvetica", system-ui,
  sans-serif;
}

h1 {

  font-family: "Panchang";
  font-weight: 700;
  font-size: 240px;

  margin: 0;

  grid-area: 1 / 1 / 3 / 1;

}