/* ===================================
=typography
=================================== */

:root {
  --fontstack-main: "DMSans", "Helvetica Neue", "Helvetica", system-ui,
  sans-serif;
  --fontstack-alt: "Panchang", "Helvetica Neue", "Helvetica", system-ui,
  sans-serif;
}

a {

  text-decoration: none;
  color: inherit;

}