body {

  color: var(--color-white);
  background-color: var(--color-grey-100);

  overflow-x: scroll;
  overflow-y: hidden;
  
}

//================
// Hide Scrollbar
//================

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}