<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mate</title>
    <link rel="icon" type="image/x-icon" href="../../assets/img/Mate_icon.png">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script type="module" src="/assets/js/app.bundle.js"></script>
    <script type="module" src="/assets/js/mainnav.bundle.js"></script>
  </head>
  <body>
    

    <div class="body__content">

      {% include "../partials/mainnav.njk" %}

      {% block content %}

      {% endblock %}

      {% include "../partials/footer.njk" %}

    </div>

  </body>

</html>