<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mate</title>
    <link rel="icon" type="image/x-icon" href="../../assets/img/Mate_icon.png">
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script type="module" src="/assets/js/app.bundle.js"></script>
    <script type="module" src="/assets/js/mainnav.bundle.js"></script>
  </head>
  <body>
    

    <div class="body__content">

      {% include "../partials/mainnav.njk" %}

      {% block content %}

      {% endblock %}

      {% include "../partials/footer.njk" %}

    </div>

<svg style="display: none;" xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="squiggly-0">
      <feTurbulence id="turbulence" baseFrequency="0.005" numOctaves="3" result="noise" seed="0"/>
      <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="10" />
    </filter>
    <filter id="squiggly-1">
      <feTurbulence id="turbulence" baseFrequency="0.005" numOctaves="3" result="noise" seed="1"/>
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="12" />
    </filter>
    <filter id="squiggly-2">
      <feTurbulence id="turbulence" baseFrequency="0.005" numOctaves="3" result="noise" seed="2"/>
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="10" />
    </filter>
    <filter id="squiggly-3">
      <feTurbulence id="turbulence" baseFrequency="0.005" numOctaves="3" result="noise" seed="3"/>
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="12" />
    </filter>
    <filter id="squiggly-4">
      <feTurbulence id="turbulence" baseFrequency="0.005" numOctaves="3" result="noise" seed="4"/>
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="10" />
    </filter>
  </defs> 
</svg>

  </body>


</html>