---
permalink: /about.html
---

{% extends "layouts/base.njk" %}

{% block content %}

    <div class="s-section s-section__green">
        <div class="s-section__content au__value__section">
            <div class="au__value__title-container">
                <h1 class="section__title au__value__title">
                    About Us
                </h1>
            </div>
            <div class="au__value__subtitle-container">
                <p class="au__subtitle au__value__subtitle slideRightInit">Our Values</p>
            </div>
            <div class="au__value__text-container">
                <p class="au__text au__value__text slideRightInit2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec scelerisque nisi. Ut hendrerit lacinia orci. Sed pretium dui in massa dignissim, quis mollis ligula faucibus. Fusce dictum nisi ut dictum suscipit. 
                    Etiam dapibus, ante at varius condimentum, quam odio aliquam lectus, nec varius odio orci at massa. Phasellus turpis turpis, hendrerit at pharetra sed, dapibus ut odio.</p>
            </div>
            <div class="aboutus__list-container">
                <ul class="aboutus__list">
                    <li class="aboutus__item">
                            <h2 class="aboutus__value__title">Quality</h2>
                            <p class="au__text aboutus__value__text">We focus on quality because we consider it to be extremely important. By ensuring this, we are confident that our products will live longer than any ordinary products. By lasting longer, our fabric will keep you warm longer. It's up to you.</p>
                    </li>
                    <li class="aboutus__item">
                            <h2 class="aboutus__value__title">Ecology</h2>
                            <p class="au__text aboutus__value__text">We focus on quality because we consider it to be extremely important. By ensuring this, we are confident that our products will live longer than any ordinary products. By lasting longer, our fabric will keep you warm longer. It's up to you.</p>
                    </li>
                    <li class="aboutus__item">
                            <h2 class="aboutus__value__title">Social</h2>
                            <p class="au__text aboutus__value__text">We focus on quality because we consider it to be extremely important. By ensuring this, we are confident that our products will live longer than any ordinary products. By lasting longer, our fabric will keep you warm longer. It's up to you.</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="s-section">
        <div class="s-section__content au__concept__section">
            <div class="au__concept__title-container">
                <h1 class="section__title au__concept__title">
                    Concept
                </h1>
            </div>

            <div class="au__conceptA">
                <div class="au__concept__subtitle-container">
                    <p class="au__subtitle au__concept__subtitle">What is Mate?</p>
                </div>
                <div class="au__concept__text-container">
                    <p class="au__text au__concept__text">We are a brand disguised by a false movie studio. Our goal is to allow our buyer to feel part of not only a place, but a time. We recognise that nostalgia is a strong feeling we can tap into by releasing stunning clothing pieces.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec scelerisque nisi. Ut hendrerit lacinia orci. Sed pretium dui in massa dignissim, quis mollis ligula faucibus. Fusce dictum nisi ut dictum suscipit.
                        Etiam dapibus, ante at varius condimentum, quam odio aliquam lectus, nec varius odio orci at massa. Phasellus turpis turpis, hendrerit at pharetra sed, dapibus ut odio.
                
                        Ut hendrerit lacinia orci. Sed pretium dui in massa dignissim, quis mollis ligula faucibus. Fusce.</p>
                </div>
            </div>
            <div class="au__conceptB">
                <div class="au__concept__subtitle-container">
                    <p class="au__subtitle au__concept__subtitle">Who is Mate?</p>
                </div>
                <div class="au__concept__text-container">
                    <p class="au__text au__concept__text">We are a brand disguised by a false movie studio. Our goal is to allow our buyer to feel part of not only a place, but a time. We recognise that nostalgia is a strong feeling we can tap into by releasing stunning clothing pieces.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec scelerisque nisi. Ut hendrerit lacinia orci. Sed pretium dui in massa dignissim, quis mollis ligula faucibus. Fusce dictum nisi ut dictum suscipit.
                        Etiam dapibus, ante at varius condimentum, quam odio aliquam lectus, nec varius odio orci at massa. Phasellus turpis turpis, hendrerit at pharetra sed, dapibus ut odio.
                
                        Ut hendrerit lacinia orci. Sed pretium dui in massa dignissim, quis mollis ligula faucibus. Fusce.</p>
                </div>
            </div>

            <div class="au__learnmore">
                <div class="au__learnmore__subtitle-container">
                    <p class="au__subtitle au__learnmore__subtitle">See for yourself!</p>
                </div>
                <div class="au__learnmore__button-container">
                    <div class="learnmore__button au__learnmore__button">
                        <p>Ard. 2020</p>
                        <img src="../../assets/img/Mate_Star.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="s-section s-section__green">
        <div class="au__team__title-container">
            <h1 class="section__title au__team__title">
                The
            </h1>
            <h1 class="section__title au__team__title">
                Team
            </h1>
            <div class="au__team__text-container">
                <p class="au__text au__team__text">Mate was entirely created by 4 graphic design students from Belgium. Each with their own strengths, were able to put together what you see and wear. <br> <br>Here they are.</p>
            </div>
        </div>
        <div class="au__teamMember-container">
            <div class="au__teamMember">
                <div class="au__teamMember__name">
                    <h1 class="au__subtitle">Elann Fraiture</h1>
                </div>
                <div class="au__teamMember__image">
                </div>
                <div class="au__teamMember__info">
                    <div class="au__teamMember__title">
                        <p class="au__text">CEO / King du JS</p>
                    </div>
                    <div class="au__teamMember__description">
                        <p class="au__text">I love writing code and I also love writing code. Furthermore, I find a liking in writing code too and I allow myself to write code from time to time. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="au__teamMember-container">
            <div class="au__teamMember">
                <div class="au__teamMember__name">
                    <h1 class="au__subtitle">Elann Fraiture</h1>
                </div>
                <div class="au__teamMember__image">
                </div>
                <div class="au__teamMember__info">
                    <div class="au__teamMember__title">
                        <p class="au__text">CEO / King du JS</p>
                    </div>
                    <div class="au__teamMember__description">
                        <p class="au__text">I love writing code and I also love writing code. Furthermore, I find a liking in writing code too and I allow myself to write code from time to time. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="au__teamMember-container">
            <div class="au__teamMember">
                <div class="au__teamMember__name">
                    <h1 class="au__subtitle">Elann Fraiture</h1>
                </div>
                <div class="au__teamMember__image">
                </div>
                <div class="au__teamMember__info">
                    <div class="au__teamMember__title">
                        <p class="au__text">CEO / King du JS</p>
                    </div>
                    <div class="au__teamMember__description">
                        <p class="au__text">I love writing code and I also love writing code. Furthermore, I find a liking in writing code too and I allow myself to write code from time to time. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="au__teamMember-container">
            <div class="au__teamMember">
                <div class="au__teamMember__name">
                    <h1 class="au__subtitle">Elann Fraiture</h1>
                </div>
                <div class="au__teamMember__image">
                </div>
                <div class="au__teamMember__info">
                    <div class="au__teamMember__title">
                        <p class="au__text">CEO / King du JS</p>
                    </div>
                    <div class="au__teamMember__description">
                        <p class="au__text">I love writing code and I also love writing code. Furthermore, I find a liking in writing code too and I allow myself to write code from time to time. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
