---
permalink: /index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

    <div class="s-section s-section__green">
        <div class="s-section__number">01</div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatibus illum veniam maiores id et fuga eveniet explicabo, dignissimos fugit reprehenderit voluptatem, ratione ad non dicta earum error sed quos.</div>

    <div class="s-section__light s-section">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatibus illum veniam maiores id et fuga eveniet explicabo, dignissimos fugit reprehenderit voluptatem, ratione ad non dicta earum error sed quos.</div>

    



{% endblock %}
