---
permalink: /shop.html
---

{% extends "layouts/base.njk" %}

{% block content %}

    <div class="s-section">
        <div class="s-section__content">
            <h1 class="section__title">
                Shop
            </h1>
            <div class="shop__content">
                <ul class="shop__list">
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card middle"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                </ul>
                <ul class="shop__list invert">
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card middle"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                </ul>
                <ul class="shop__list">
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card middle"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                </ul>
                <ul class="shop__list invert">
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card middle"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                </ul>
                <ul class="shop__list">
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card middle"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                </ul>
                <ul class="shop__list invert">
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card middle"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                </ul>
                <ul class="shop__list">
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card middle"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                </ul>
                <ul class="shop__list invert">
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card middle"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                    <li class="shop__item">
                        <div class="shop__card"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
