---
permalink: /shop.html
---

{% extends "layouts/base.njk" %}

{% block content %}

    <div class="s-section s-firstSection">
        <div class="s-section__content">
            <h1 class="s-section__title">
                Shop
            </h1>
        </div>
        <div class="shop__container">
            <div class="shop__content">
                <div class="shop__list invert">
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                    <div class="shop__item middle">
                        <h2 class="shopItem__title">Hoodie</h2>
                        <a href="product.html" class="shopItem__more"><img class="o-fluidimg shopItem__img" src="../assets/img/Mate_Star.svg" alt=""></a>
                        <ul class="shopItem__sizes">
                            <li class="shopItem__size">XS</li>
                            <li class="shopItem__size">S</li>
                            <li class="shopItem__size">M</li>
                            <li class="shopItem__size">L</li>
                            <li class="shopItem__size">XL</li>
                        </ul>
                    </div>
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                </div>
                <div class="shop__list">
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                    <div class="shop__item middle">
                        <h2 class="shopItem__title">Hoodie</h2>
                        <a href="product.html" class="shopItem__more"><img class="o-fluidimg shopItem__img" src="../assets/img/Mate_Star.svg" alt=""></a>
                        <ul class="shopItem__sizes">
                            <li class="shopItem__size">XS</li>
                            <li class="shopItem__size">S</li>
                            <li class="shopItem__size">M</li>
                            <li class="shopItem__size">L</li>
                            <li class="shopItem__size">XL</li>
                        </ul>
                    </div>
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                </div>
                <div class="shop__list invert">
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                    <div class="shop__item middle">
                        <h2 class="shopItem__title">Hoodie</h2>
                        <a href="product.html" class="shopItem__more"><img class="o-fluidimg shopItem__img" src="../assets/img/Mate_Star.svg" alt=""></a>
                        <ul class="shopItem__sizes">
                            <li class="shopItem__size">XS</li>
                            <li class="shopItem__size">S</li>
                            <li class="shopItem__size">M</li>
                            <li class="shopItem__size">L</li>
                            <li class="shopItem__size">XL</li>
                        </ul>
                    </div>
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                </div>
                <div class="shop__list">
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                    <div class="shop__item middle">
                        <h2 class="shopItem__title">Hoodie</h2>
                        <a href="product.html" class="shopItem__more"><img class="o-fluidimg shopItem__img" src="../assets/img/Mate_Star.svg" alt=""></a>
                        <ul class="shopItem__sizes">
                            <li class="shopItem__size">XS</li>
                            <li class="shopItem__size">S</li>
                            <li class="shopItem__size">M</li>
                            <li class="shopItem__size">L</li>
                            <li class="shopItem__size">XL</li>
                        </ul>
                    </div>
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                </div>
                <div class="shop__list invert">
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                    <div class="shop__item middle">
                        <h2 class="shopItem__title">Hoodie</h2>
                        <a href="product.html" class="shopItem__more"><img class="o-fluidimg shopItem__img" src="../assets/img/Mate_Star.svg" alt=""></a>
                        <ul class="shopItem__sizes">
                            <li class="shopItem__size">XS</li>
                            <li class="shopItem__size">S</li>
                            <li class="shopItem__size">M</li>
                            <li class="shopItem__size">L</li>
                            <li class="shopItem__size">XL</li>
                        </ul>
                    </div>
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                </div>
                <div class="shop__list">
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                    <div class="shop__item middle">
                        <h2 class="shopItem__title">Hoodie</h2>
                        <a href="product.html" class="shopItem__more"><img class="o-fluidimg shopItem__img" src="../assets/img/Mate_Star.svg" alt=""></a>
                        <ul class="shopItem__sizes">
                            <li class="shopItem__size">XS</li>
                            <li class="shopItem__size">S</li>
                            <li class="shopItem__size">M</li>
                            <li class="shopItem__size">L</li>
                            <li class="shopItem__size">XL</li>
                        </ul>
                    </div>
                    <div class="shop__item"></div>
                    <div class="shop__item"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="s-section s-section__green s-section__end">
        <div class="s-section__number">
            <p>01</p>
        </div>
        <div class="s-section__content">
            <h1 class="s-section__title">
                Ardennes
            </h1>
        </div>
    </div>

{% endblock %}
