---
permalink: /slick-street.html
---

{% extends "layouts/base.njk" %}

{% block content %}

   
    <div class="selector">
        <label class="selector__label" for="a">
            <div class="selector__div"></div>
            <p class="selector__text">Slick</p>
        </label>
        <label class="selector__label" for="b">
            <div class="selector__div"></div>
            <p class="selector__text">Mix</p>
        </label>
        <label class="selector__label" for="c">
            <div class="selector__div"></div>
            <p class="selector__text">Street</p>
        </label>
        <svg width="28" height="145" viewBox="0 0 28 145" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.0001 145L15.1018 139.275C15.1489 137.808 15.5503 136.356 16.3683 135.148C17.5084 133.464 19.2855 132.266 21.3542 131.906L28 130.75L21.3542 129.594C18.1715 129.041 15.6791 126.503 15.1354 123.264L14 116.5L12.8646 123.264C12.3209 126.504 9.828 129.041 6.6458 129.594L-5.5732e-07 130.75L6.6458 131.906C8.71453 132.265 10.4916 133.463 11.6317 135.148C12.4497 136.356 12.8511 137.808 12.8982 139.275L14.0001 145Z" fill="#1C1C1C"/>
        </svg>
    </div>

    <input type="radio" id="a" name="1">
    <input type="radio" id="b" name="1">
    <input type="radio" id="c" name="1">

    <div class="s-section">
        <div class="s-section__content landPage">
            <h1 class="s-section__title title">Section</h1>
        </div>
    </div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="squiggly-0">
      <feTurbulence id="turbulence" baseFrequency="0.005" numOctaves="3" result="noise" seed="0"/>
      <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="10" />
    </filter>
    <filter id="squiggly-1">
      <feTurbulence id="turbulence" baseFrequency="0.005" numOctaves="3" result="noise" seed="1"/>
    <feDisplacementMap in="SourceGraphic" in2="noise" scale="12" />
        </filter>
        
        <filter id="squiggly-2">
        <feTurbulence id="turbulence" baseFrequency="0.005" numOctaves="3" result="noise" seed="2"/>
    <feDisplacementMap in="SourceGraphic" in2="noise" scale="10" />
        </filter>
        <filter id="squiggly-3">
        <feTurbulence id="turbulence" baseFrequency="0.005" numOctaves="3" result="noise" seed="3"/>
    <feDisplacementMap in="SourceGraphic" in2="noise" scale="12" />
        </filter>
        
        <filter id="squiggly-4">
        <feTurbulence id="turbulence" baseFrequency="0.005" numOctaves="3" result="noise" seed="4"/>
    <feDisplacementMap in="SourceGraphic" in2="noise" scale="10" />
    </filter>
  </defs> 
</svg>

{% endblock %}
