.parallax__container {

    position: relative;

}

.parallax__animation__left {
    animation-timeline: view(inline);

    animation-name: appear;
    animation-range: 0% 130%;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */

    position: absolute;
}

@keyframes appear {
    from {
        left: 10rem;
    }

    to {
        left: 0px;
    }
}

.s-section__number {

    animation-timeline: view(inline);

    animation-name: appearNumber;
    animation-range: 20% 180%;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */

}

@keyframes appearNumber {
    from {
        margin-inline-start: -420px;
    }

    to {
        margin-inline-start: -900px;
    }
}

.s-section__title {

    animation-timeline: view(inline);

    animation-name: appearTitle;
    animation-range: 0% 20%;
    animation-fill-mode: both;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */

}

@keyframes appearTitle {
    from {
        margin-block-start: -40px;
    }

    to {
        margin-block-start: 0px;
    }
}

