@keyframes backgroundParallax {
    0% {
        background-position: 100% 0%;
    }
  
    100% {
        background-position: 0% 0%;
    }
  }

.anim__backgroundimg {

  animation-timeline: view(inline);

  animation-name: backgroundParallax;
  animation-range: 0% 200%;
  animation-fill-mode: none;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */

  background-position: center center;

}

@keyframes slideRight {
    0% {
        opacity: 1;
        transform: translate(-25%, 0);
    }
  
    100% {
      opacity: 1;
        transform: translate(0, 0);
    }
  }

.slideRight {
    animation: slideRight 0.2s ease-out both;
    animation-timeline: view(block);
    animation-range: 0% 100%;
    animation-fill-mode: none;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    transform: translate(0, 0);
}
  

@keyframes slideFromTop {
  0% {
      transform: translate(0, -10%);
  }

  100% {
      transform: translate(0, 0);
  }
}

.slideFromTop {

  animation-timeline: view(inline);

  animation-name: slideFromTop;
  animation-range: 0% 50%;
  animation-fill-mode: none;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  transform: translate(0, 0);
}

@keyframes slideFromBottom {
  0% {
      transform: translate(0, 10%);
  }

  100% {
      transform: translate(0, 0);
  }
}

.slideFromBottom {

  animation-timeline: view(inline);

  animation-name: slideFromBottom;
  animation-range: 0% 50%;
  animation-fill-mode: noe;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */

  transform: translate(0, 0);
}

@media all and (min-width: 1024px) {

  .s-section__number {

      view-timeline: --body inline;
      position: relative;
      
  }
  
  .s-section__number p {
      
      animation-timeline: --body;

      animation-name: appearNumber;
      animation-range: 0% 180%;
      animation-fill-mode: none;
      animation-duration: 1ms; /* Firefox requires this to apply the animation */

      position: absolute;
      left: -480px;

  }

  @keyframes appearNumber{
      from {
          left: -240px;
      }

      to {
          left: -600px;
      }
  }

}