/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
CONTACT PAGE ESSENTIALS
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.contact__title{
    text-align: center;
    margin-bottom: 50px;
}

.contact__subtitle{
    font-family: "DMSans";
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 0;
}

.contact__text{
    font-family: "DMSans";
    font-weight: 300;
    font-size: 18px;
    margin: 0;
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
CONTACT PAGE SECTION
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.contact__section{
    padding-top: 60px;
}

.contact__item{
    margin-bottom: 25px;
}

.contact__form{
    margin-top: 50px;
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
CONTACT PAGE FORM
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.contact__form__item{
    height: 50px;
    margin-bottom: 25px;
    background-color: var(--color-green-400);

}

.contact__form input{
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
    background-color: unset;

    padding-inline: 12px;

    outline: none;
}

.contact__form__item input:focus + label,
.contact__form__item label:focus + .contact__form__item input{

    transform: translate(0px, -13px);
    font-size: 12px;
    
}


.contact__form__item label{
    font-family: "DMSans";
    position: absolute;
    left: 0;
    padding: 13px;
    padding-left: 24px;
    pointer-events: none;

    transition: 0.2s;
}

.form__select label{
    position: relative;
    padding: 0;
}

.form__select select{
    background-color: var(--color-green-400);
    height: 100%;
    width: 100%;

    border: none;
    outline: none;
    appearance: none;
    padding-left: 12px;
}