/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
LANDING PAGE
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.landPage{
  overflow: visible; //allow image to spill out of div.
}

.landPage__logo{
  display: none; //hide this logo for desktop

  z-index: 2;  //make sure logo is above image
}

.landPage__logoHidden{
  display: block; //make sure logo is displayed for mobile/tablet devices

  width: 215px; //set a fixed width for logo (mobile)

  z-index: 2;  //make sure logo is above image
}

.landPage__menu{
  list-style: none; 

  font-family: "Panchang";
  font-weight: 600;
  font-size: 32px;
  line-height: 3.5rem;

  margin: 120px 57px 57px;

  padding: 0;
}

.landPage__imgSection{
  height: 700px;

  overflow: hidden;

  margin-left: -12px;
  margin-right: -12px;

  background-image: url(../img/landPageImg2.JPG);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landPage__scrollH{
  display: none;
}

.landPage__scrollV{
  height: 81px;

  margin-bottom: 90px;

  background-image: url(../img/verticalScroll.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 745px){
  .landPage__logoHidden{
    width: 350px;
  }

  .landPage__menu{
    font-size: 48px;
    line-height: 5rem;
    text-align: center;
  
    margin: 57px;
  
    padding: 0;
  }
  .landPage__imgSection{
    margin-left: -24px;
    margin-right: -24px;
  }

}

@media all and (min-width: 1024px){
  .landPage{
    margin: 0 250px 0 250px;
  }

  .landPage__logo{
    display: block;

    grid-area: 1 / 1 / 1 / 1;
    width: 2150px;
  
    margin-top: 50px;
  }

  .landPage__logoHidden{
    display: none;
  }
  
  .landPage__menu{
    grid-area: 4 / 1 / 8 / 1;
  
    font-size: 75px;
    
    margin-left: 84px;

    line-height: normal;

    text-align: left;
  }
  
  .landPage__img{
    display: none;
  }
  
  .landPage__imgSection{
    grid-area: 1 / 1 / span 8 / 1;

    width: 360px;
    height: 100%;

    margin-left: 750px;

    background-image: url(../img/landPageImg2.JPG);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .landPage__scrollH{
    display: block;

    color: var(--color-text-light);
    font-weight: 600;
    font-size: 24px;

    grid-area: 7 / 1 / 7 / 1;
  
    margin-left: 1400px;
  }

  .landPage__scrollV{
    display: none;
  }
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
FIRST SECTION
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.firstsection__year {

  font-family: "DMSans";

  margin-top: -50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.firstsection__yearA {

  font-weight: bold;
  font-size: 42px;

  font-family: "Panchang";
  color: var(--color-text-light);

  margin: 0;

}

.firstsection__yearB {

  font-weight: bold;
  font-size: 42px;

  font-family: "Panchang";
  color: var(--color-text-light);

  margin: 0;

}

.firstsection__text{

  font-weight: 300;
  font-size: 15px;

  margin-top: 34px;

  color: var(--color-text-light);
  text-wrap: wrap;

  display: flex;
  flex-direction: column;
  gap: 34px;
}

.firstsection__text-link{
  color: var(--color-text);
  font-weight: bold;
  font-size: 30px;
  align-self: center;
  margin: 0;
}

@media all and (min-width: 745px) {
  .firstsection__text{
    font-size: 20px;
  
    margin-top: 60px;

    gap: 60px;
  }
}


@media all and (min-width: 1024px) {

  .firstsection__year {
    font-size: 70px;

    grid-area: 3 / 1 / 8 / 1;

    justify-content: flex-start;
    align-items: flex-start;

  }

  .firstsection__yearA {
    font-family: "DMSans";
    font-size: 60vh;
    font-weight: 300;
    line-height: 80vh;

    color: var(--color-green-200);
  }
  
  .firstsection__yearB {
    font-family: "DMSans";
    font-size: 15vh;
    color: var(--color-green-200);

    margin: 100px 0 0 50px;
  }
  .firstsection__text{

    font-weight: normal;
    font-size: 20px;
  
    color: var(--color-text-light);
    text-wrap: wrap;
  
    position: absolute;
  
    max-width: 1100px;
    margin: 60vh 0 0 72vh;
  
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .firstsection__text-link{
    align-self: flex-end;
  }

}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
CARD SECTION
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.cardsection{
  overflow: clip;

  overflow: visible;

  margin-block: 12px;

}

@media all and (min-width: 1024px) {

  .cardsection{

    overflow: visible;
    margin-block: 0;

    margin-inline: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
  
  }

}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
LEARN CARDS
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.learn__card {

  margin-inline: -12px;
  overflow: visible;

}

.learn__title {

  color: #FFFDF8;
  font-size: 24px;
  text-align: center;

  background-color: #0BA979;

  padding-block: 12px;

}

.learn__summary {

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../../assets/img/ardennesMountains.JPG);
  background-size: 100%;

  height: 180px;

}

.cardsection__hint{
  margin-top: 0;
  font-style: italic;
}

.learn__summary img {

  width: 30px;
  height: 30px;

  padding: 12px;
  background-color: #1C1C1C;

  cursor: pointer;

}

.learn__text {

  padding: 32px;
  margin: 0;

  font-size: 15px;
  color: #FFFDF8;

  background-color: #0BA979;

  transition: all 0.2s ease;

  overflow: hidden;

}

.learn__input {

  display: none;

}

.learn__input:checked + .learn__details .learn__text {

  max-height: 0;
  padding-block: 0;

}

@media all and (min-width: 1024px) {

  .learn__card {

    max-height: 100vh;
    max-width: 1200px;
  
  }

  .learn__title {

    color: #FFFDF8;
    font-size: 4vh;
    text-align: center;
  
    background-color: #0BA979;
  
    padding-block: 24px;
    padding-inline: 42px;
  
  }

  .learn__details {

    height: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  
  .learn__summary {
  
    height: 45vh;
    background-size: 150%;
  
  }
  
  .learn__summary img {
  
    display: none;
  
  }

  .learn__text {

    padding: 32px !important;
    margin: 0;
    height: 100%;
    max-height: 100% !important; 
  
    font-size: 18px;
    color: #FFFDF8;
  
    background-color: #0BA979;
  
    overflow: visible;
  
  }

}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
LEARN MORE
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.learnmore{
  height: 200px;
  margin: 60px -12px 30px -12px;

  background-image: url(../img/learnMore2.JPG);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
}

.learnmore__button{
  width: 150px;
  height: 50px;

  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10px;

  background-color: var(--color-background-dark);
  color: var(--color-text-light);

  border-radius: 100px;

  transition: 0.5s;
}


.learnmore__img{
  width: 25px;
  height: 25px;
  background-image: url(../img/Mate_Star_Green.svg);
  background-size: cover;

  transition: 0.5s;
}

.learnmore__button:hover{
  background-color: var(--color-accent);
  cursor: pointer;
  .learnmore__img{
    background-image: url(../img/Mate_Star.svg);
    transform: rotate(180deg);
  }
}


.learnmore__button p{
  font-family: "DMSans";
  font-weight: bold;
  font-size: 12px;
  
  width: fit-content;
}

@media all and (min-width: 745px){
  .learnmore{
    margin: 0 -24px -30px -24px;
  }
  
}

@media all and (min-width: 1024px) {

  .learnmore{
    min-width: 635px;
    height: auto;

    margin: 0 120px;
  }

  .learnmore__button{
    width: 200px;
    height: 75px;
  
    position: absolute;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15px;
  
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
  
    border-radius: 100px;
  }


  .learnmore__img{
    max-width: 35px;
  }
  
  .learnmore__button p{
    font-family: "DMSans";
    font-weight: bold;
    font-size: 16px;
    
    width: fit-content;
  }

}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
SHOP SECTION
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.shopsection{
  grid-column-gap: 200px;
}

.shopsection__content{
  margin-top: 40px;
}

.shopsection__title{
  margin-bottom: 18px;
}

.shopsection__text{
  font-weight: normal;
  font-size: 18px;

  color: var(--color-text-light);

  margin: 0;
}

.shopsection__preview{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  margin-bottom: 120px;
}

.shopsection__list{
  list-style: none;

  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 158px);
  grid-row-gap: 18px;
  grid-column-gap: 17px;

}

.shopsection__item{
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 158px;

  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;

  transition: 0.25s ease-in-out;
}

.shopsection__item:hover{
  background-size: 120%;
  filter: brightness(1.3);
  cursor: pointer;
}

.shopsection__item__label{
  background-color: var(--color-accent);
  color: var(--color-text);
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 28px;
}

.shopsection__list li:nth-child(1){
  background-image: url(../img/shopsection1.png);
}
.shopsection__list li:nth-child(2){
  background-image: url(../img/shopsection2.png);
}
.shopsection__list li:nth-child(3){
  background-image: url(../img/shopsection3.png);
}
.shopsection__list li:nth-child(4){
  background-image: url(../img/Mate_Star.svg);
  background-color: var(--color-accent);
  background-size: 40%;
  background-position: 50%;
  
  transition: 0.25s ease-in-out;
}

.shopsection__list li:nth-child(4):hover{
  cursor: pointer;
  background-color: var(--color-text-light);
}


@media all and (min-width: 745px){

  .shopsection__preview{
    margin-top: 60px;
    margin-bottom: 90px;
  }

  .shopsection__content{
    margin-top: 100px;
  }

  .shopsection__list{
    display: flex;
    flex-direction: row;
    
    height: 158px;
  }
  
}

@media all and (min-width: 1024px) {

  .shopsection__preview{
    grid-area: 2 / 2 / 7 / 2;
  }

  .shopsection__content{
    margin-top: 0;
    grid-area: 4 / 1 / 6 / 1;

    max-width: 1100px;
  }

  .shopsection__list{
    height: 600px;
    grid-column-gap: 48px;
  }
  .shopsection__item{
    width: 525px;
    transition: 0.25s ease-in-out;
  }
  .shopsection__item__label{
    height: 100px;
    font-size: 3.5vh;
  }

  .shopsection__item:hover{
    cursor: pointer;
    background-size: 120%;
    filter: brightness(1.3);
  }


  .shopsection__list li:nth-child(4){
    width: 250px;
    height: 250px;
    align-self: center;
  }
  
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
ABOUT US SECTION
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.aboutus__text{
  margin-bottom: 70px;
  font-weight: normal;
  font-size: 18px;

  color: var(--color-text-light);
}

.aboutus__list{
  padding: 0;
  list-style: none;
}

.aboutus__item{
  height: 100px;

  padding-inline: 12px;

  overflow: clip;

  border: 1px var(--color-grey-100);
  border-top-style: solid;

  transition: 0.5s ease-in-out;
}

.aboutus__item:nth-child(3){
  border-bottom-style: solid;
}

.aboutus__item:hover{
  cursor: pointer;
  height: 42vh;
  background-color: var(--color-green-400);
}

.aboutus__value__title{
  font-family: "Panchang";
  font-weight: bold;
  font-size: 5vh;

  text-align: center;

  padding-block-start: 25px;
  padding-block-end: 25px;
}

.aboutus__value__text{
  font-weight: normal;
  font-size: 18px;

  margin: 0;

  color: var(--color-text-light);
}

.aboutus__link{
  color: var(--color-text);
  font-weight: bold;
  font-size: 30px;
  align-self: center;
  margin: 0;

  text-align: center;

  margin: 50px 0;
}

@media all and (min-width: 745px){
  .aboutus__value__title{
    padding-block-start: 10px;
    padding-block-end: 25px;
  }

  .aboutus__item:hover{
    cursor: pointer;
    height: 225px;
    padding-inline: 24px;
  }
  
}

@media all and (min-width: 1024px){

  .aboutus{
    width: max-content;
  }

  .aboutus__title{
    grid-area: 1 / 1 / 3 / 3;
  }  
  .aboutus__text{
    grid-area: 4 / 1 / 6 / 2;
    margin: 0;
    max-width: 1300px;
  }
  .aboutus__list{
    grid-area: 1 / 3 / 8 / 4;
    max-width: 1080px;
    transform: rotate(-90deg);
  }
  .aboutus__item{
    height: 180px;
  }
  .aboutus__item:hover{
    height: 800px;
  }
  .aboutus__value__title{
    margin-top: 45px;
  }
  .aboutus__value__text{
    transform: rotate(90deg);
    width: 50%;
    margin-top: 275px;
    margin-left: 275px;
  }
  .aboutus__link{
    margin-left: -750px;
    margin-top: -20px;
    grid-area: 5 / 2 / 5 / 3;
  }
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
END SECTION
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.endsection{
  background-color: var(--color-background-dark);

  border: 1px var(--color-text-light);
  border-top-style: solid;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100px;
}

.endsection__text{
  order: 1;
  font-family: "DMSans";
  font-size: 1.2vh;
  font-weight: normal;
  color: var(--color-text-grey-500);

  max-width: 170px;

  text-align: center;
}


@media all and (min-width:745px){
  .endsection__text{
    max-width: 500px;
  }

}

@media all and (min-width:1024px){

  .endsection{
    flex-direction: column;

    border: 1px var(--color-text-light);
    border-left-style: solid;
    border-top-style: none;
    height: 100%;
    min-width: 130px;
  }

  .endsection__text{
    writing-mode: vertical-lr;
    align-self: center;
  }

}
