/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
LANDING PAGE
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
.landPage{
  overflow: visible;
}

.landPage__logo{
  display: none;

  z-index: 2;  
}

.landPage__logoHidden{
  width: 215px;

  z-index: 2;  
}

.landPage__menu{
  list-style: none;  

  font-family: "Panchang";
  font-weight: 600;
  font-size: 32px;
  line-height: 3.5rem;

  margin: 120px 57px 57px;

  padding: 0;
}

.landPage__imgSection{
  height: 700px;

  overflow: hidden;

  margin-left: -12px;
  margin-right: -12px;

  background-image: url(../img/landPageImg2.JPG);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landPage__scrollH{
  display: none;
}

.landPage__scrollV{
  height: 81px;

  margin-bottom: 90px;

  background-image: url(../img/verticalScroll.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 745px){
  .landPage__logoHidden{
    width: 350px;
  }

  .landPage__menu{
    font-size: 48px;
    line-height: 5rem;
    text-align: center;
  
    margin: 57px;
  
    padding: 0;
  }

}

@media all and (min-width: 1024px){
  .landPage{
    margin: 0 250px 0 250px;
  }

  .landPage__logo{
    display: block;

    grid-area: 1 / 1 / 1 / 1;
    width: 2150px;
  
    margin-top: 50px;
  }

  .landPage__logoHidden{
    display: none;
  }
  
  .landPage__menu{
    grid-area: 4 / 1 / 8 / 1;
  
    font-size: 75px;
    
    margin-left: 84px;

    line-height: normal;

    text-align: left;
  }
  
  .landPage__img{
    display: none;
  }
  
  .landPage__imgSection{
    grid-area: 1 / 1 / span 8 / 1;

    width: 360px;
    height: 100%;

    margin-left: 750px;

    background-image: url(../img/landPageImg2.JPG);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .landPage__scrollH{
    display: block;

    color: var(--color-text-light);
    font-weight: 600;
    font-size: 24px;

    grid-area: 7 / 1 / 7 / 1;
  
    margin-left: 1400px;
  }

  .landPage__scrollV{
    display: none;
  }
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
FIRST SECTION
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.firstsection__year {

  font-family: "DMSans";

  margin-top: -50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.firstsection__yearA {

  font-weight: bold;
  font-size: 42px;

  font-family: "Panchang";
  color: var(--color-text-light);

  margin: 0;

}

.firstsection__yearB {

  font-weight: bold;
  font-size: 42px;

  font-family: "Panchang";
  color: var(--color-text-light);

  margin: 0;

}

.firstsection__text{

  font-weight: 300;
  font-size: 15px;

  margin-top: 34px;

  color: var(--color-text-light);
  text-wrap: wrap;

  display: flex;
  flex-direction: column;
  gap: 34px;
}

.firstsection__text-link{
  color: var(--color-text);
  font-weight: bold;
  font-size: 30px;
  align-self: center;
  margin: 0;
}

@media all and (min-width: 745px) {
  .firstsection__text{
    font-size: 20px;
  
    margin-top: 60px;

    gap: 60px;
  }
}


@media all and (min-width: 1024px) {

  .firstsection__year {
    font-size: 70px;

    grid-area: 3 / 1 / 8 / 1;

    justify-content: flex-start;
    align-items: flex-start;

  }

  .firstsection__yearA {
    font-family: "DMSans";
    font-size: 575px;
    font-weight: 300;
    line-height: 700px;

    color: var(--color-green-200);
  }
  
  .firstsection__yearB {
    font-family: "DMSans";
    font-size: 150px;
    color: var(--color-green-200);

    margin: 100px 0 0 50px;
  }
  .firstsection__text{

    font-weight: normal;
    font-size: 20px;
  
    color: var(--color-text-light);
    text-wrap: wrap;
  
    position: absolute;
  
    max-width: 1100px;
    margin: 550px 0 0 715px;
  
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .firstsection__text-link{
    align-self: flex-end;
  }

}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++
CARD SECTION
++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.cardsection{
  margin-block-start: 70px;

  overflow: visible;

  margin-bottom: 42px;

  display: flex;
  flex-direction: column;

}

.cardsection :nth-child(2){order: -1;}

.reverse{
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.cardsection__text{
  font-weight: normal;
  font-size: 18px;

  color: var(--color-text-light);

  max-width: 850px;

  margin: 0;
}

.cardsection__img{
  min-height: 200px;
  min-width: 330px;

  overflow: hidden;

  background-image: url(../img/ardennesMountains.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reverse .cardsection__img{
  background-image: url(../img/ardennesQuality.JPG);
}


@media all and (min-width: 745px){
  .cardsection{
    flex-direction: row;
    gap: 36px;
    margin-bottom: 60px;
  }
  .cardsection__img{
    max-width: 300px;
    max-height: 400px;
  }
  .cardsection__text{
    font-size: 16px;
  }
  .reverse{
    flex-direction: row-reverse;
  }
}

@media all and (min-width: 1024px) {

  .cardsection{
    margin: 0 120px;
    align-self: flex-end;
    width: max-content;

    display: grid;
  }
  .cardsection :nth-child(3){order: 3;}

  .cardsection__title{
    grid-area: 1 / 1 / 1 / 1;
    margin-bottom: 36px;
  }
  .cardsection__text{
    grid-area: 2 / 1 / 5 / 1;
  }
  .cardsection__img{
    grid-area: 4 / 1 / 8 / 1;

    width: 850px;
    max-width: none;
    max-height: none;
  }

  .reverse{
    display: grid;
    align-self: flex-start;
  }

  .reverse .cardsection__title{
    grid-area: 5 / 1 / 5 / 1;
  }
  .reverse .cardsection__text{
    grid-area: 6 / 1 / 8 / 1;
  }
  .reverse .cardsection__img{
    grid-area: 1 / 1 / 5 / 1;
  }

}

.learnmore{
  height: 200px;
  margin: 0 -12px -30px -12px;

  background-image: url(../img/learnMore2.JPG);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learnmore__button{
  width: 150px;
  height: 50px;

  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10px;

  background-color: var(--color-background-dark);
  color: var(--color-text-light);

  border-radius: 100px;
}

.learnmore__button img{
  max-width: 25px;
}

.learnmore__button p{
  font-family: "DMSans";
  font-weight: bold;
  font-size: 12px;
  
  width: fit-content;
}


@media all and (min-width: 745px){
  .learnmore{
    margin: 0 -24px -30px -24px;
  }
  
}

@media all and (min-width: 1024px) {

  .learnmore{
    width: 635px;
    height: auto;

    margin: 0 120px;
  }

  .learnmore__button{
    width: 200px;
    height: 75px;
  
    position: absolute;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:15px;
  
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
  
    border-radius: 100px;
  }

  .learnmore__button img{
    max-width: 35px;
  }
  
  .learnmore__button p{
    font-family: "DMSans";
    font-weight: bold;
    font-size: 16px;
    
    width: fit-content;
  }

}