@keyframes squiggly-anim {
    0% {
        filter: url("#squiggly-0");
      }
      25% {
        filter: url("#squiggly-1");
      }
      50% {
        filter: url("#squiggly-2");
      }
      75% {
        filter: url("#squiggly-3");
      }
      100% {
        filter: url("#squiggly-4");
      }

  }

.sms-title, .sms-number {
    animation: none 0.5s linear infinite;
    animation-play-state: paused;
}

#slick:checked ~ div .sms-title, #slick:checked ~ div .sms-number{

    animation: none 0.75s linear infinite;
    animation-play-state: paused;

}

#mix:checked ~ div .sms-title, #mix:checked ~ div .sms-number{

    animation: squiggly-anim 0.75s linear infinite;
    animation-play-state: paused;
}

#street:checked ~ div .sms-title, #street:checked ~ div .sms-number{
    
    animation: squiggly-anim 0.75s linear infinite;
    animation-play-state: running;

}

.selector__label {

    padding: 10px;
    cursor: pointer;

    position: relative;

}

.selector__div {

    width: 9px;
    height: 9px;
    border-radius: 9px;

    background-color: var(--color-green-500);

}

.selector__star {

    position: absolute;
    bottom: 0;
    left: 0;

    pointer-events: none;

}

.selector__star path{

    transition: all 0.2 ease;
    
}

div:has(~ #slick:checked ) .selector__star path{
    
    transition: 0.2s;
    d: path("M14.0001 145L15.1018 139.275C15.1489 137.808 15.5503 136.356 16.3683 135.148C17.5084 133.464 19.2855 132.266 21.3542 131.906L28 130.75L21.3542 129.594C18.1715 129.041 15.6791 126.503 15.1354 123.264L14 116.5L12.8646 123.264C12.3209 126.504 9.828 129.041 6.6458 129.594L-5.5732e-07 130.75L6.6458 131.906C8.71453 132.265 10.4916 133.463 11.6317 135.148C12.4497 136.356 12.8511 137.808 12.8982 139.275L14.0001 145Z");
    
}

div:has(~ #mix:checked ) .selector__star path{

    transition: 0.2s;
    d: path("M14 145L15.1018 80.7748C15.1489 79.3076 15.5503 77.8564 16.3683 76.6476C17.5084 74.9637 19.2855 73.7657 21.3542 73.4057L28 72.25L21.3542 71.0943C18.1715 70.541 15.6791 68.0035 15.1354 64.7645L14 58L12.8646 64.7645C12.3209 68.004 9.828 70.541 6.6458 71.0943L-3.18e-06 72.25L6.6458 73.4057C8.71453 73.7653 10.4916 74.9632 11.6317 76.6476C12.4497 77.8564 12.8511 79.3076 12.8982 80.7748L14 145Z");
    
}

div:has(~ #street:checked ) .selector__star path{
    
    transition: 0.2s;
    d: path("M14 145L15.1018 23.2748C15.1489 21.8076 15.5503 20.3564 16.3683 19.1476C17.5084 17.4637 19.2855 16.2657 21.3542 15.9057L28 14.75L21.3542 13.5943C18.1715 13.041 15.6791 10.5035 15.1354 7.26448L14 0.499999L12.8646 7.26448C12.3209 10.504 9.828 13.041 6.6458 13.5943L-5.69341e-06 14.75L6.6458 15.9057C8.71453 16.2652 10.4916 17.4632 11.6317 19.1476C12.4497 20.3564 12.8511 21.8076 12.8982 23.2748L14 145Z");

}

.selector__label {

    user-select: none;
    font-size: 35px;

}

.slickStreet__input {

    display: none;

}

