    <div class="s-section lastsection">
        <div class="s-section__content footersection">
            <ul class="footer__list">
                <li class="footer__item">
                    <h2 class="footer__item__title">Company</h2>
                    <ul class="footer__item__list">
                        <a href="" class="footer__item__info"><li>Belgium</li></a>
                        <a href="" class="footer__item__info"><li>Rue de Les, 2</li></a>
                        <a href="" class="footer__item__info"><li>Brussels</li></a>
                    </ul>
                </li>
                <li class="footer__item">
                    <h2 class="footer__item__title">Contact</h2>
                    <ul class="footer__item__list">
                        <a href="" class="footer__item__info"><li>Available 24/7</li></a>
                        <a href="" class="footer__item__info"><li>info@mate</li></a>
                        <a href="" class="footer__item__info"><li>04 123 456 78</li></a>
                    </ul>
                </li>
                <li class="footer__item">
                    <h2 class="footer__item__title">Socials</h2>
                    <ul class="footer__item__list">
                        <a href="" class="footer__item__info"><li>Instagram</li></a>
                        <a href="" class="footer__item__info"><li>Twitter (X)</li></a>
                        <a href="" class="footer__item__info"><li>LinkedIn</li></a>
                    </ul>
                </li>
                <li class="footer__item">
                    <h2 class="footer__item__title">Website</h2>
                    <ul class="footer__item__list">
                        <a href="" class="footer__item__info"><li>Home</li></a>
                        <a href="" class="footer__item__info"><li>Collection</li></a>
                        <a href="" class="footer__item__info"><li>Shop</li></a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="endsection lastsection">
        <p class="endsection__text">© Exclusively copyrighted by the wonderful Mate creators</p>
    </div>