      {% block content %}

        <div class="mainnav">
          <div class="mainnav__visible">
            <div class="mainnav__element  mainnav__copyright">
              <div class="copyright__content">
                Copyright
              </div>
            </div>
            <div class="mainnav__element mainnav__logo">
                <img src="assets/img/Mate_Logo.svg" alt="">
            </div>
            <div class="mainnav__element mainnav__star mainnav__button">
              <img src="assets/img/Mate_Star.svg" alt="">
            </div>
          </div>
          <div class="mainnav__hidden">
            <ul class="hidden__list">
              <li class="hidden__item hidden__item__selected {% if page.url === '/' %}mainnav__active{% endif %}">
                <a href="index.html">home </a>
              </li>
              <li class="hidden__item {% if 'collection' in page.url %}mainnav__active{% endif %}">
                <a href="collection.html">collection</a>
              </li>
              <li class="hidden__item {% if 'shop' in page.url %}mainnav__active{% endif %}">
                <a href="shop.html">shop</a>
              </li>
              <li class="hidden__item {% if 'about' in page.url %}mainnav__active{% endif %}">
                <a href="about.html">about</a>
              </li>
            </ul>
          </div>
        </div>

      {% endblock %}