      {% block content %}

        <div class="mainnav">
          <div class="mainnav__visible">
            <div class="mainnav__element  mainnav__copyright">
              <div class="copyright__content">
                Copyright
              </div>
            </div>
            <div class="mainnav__element mainnav__logo">
              <div class="logo__content">
                Logo
              </div>
            </div>
            <div class="mainnav__element mainnav__star">
              *
            </div>
          </div>
        </div>

      {% endblock %}